body,
html {
	padding: 0;
	margin: 0;
	background-color: black;
}

.container {
	height: 425px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;

}

.absolute {
	position: absolute;
	margin: 0 auto;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
}

.c-outer {
	display: flex;
	flex-wrap: wrap;
}

.c-flex-item {
	flex: 1;
	min-width: 400px;
}

.label {
	color: white;
	top: 0;
	left: 0;
	text-decoration: none;
	position: absolute;
	opacity: 0;
	z-index: 50;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 2s linear;
}

.hover-dark {
	background: black;
}

.hover-dark video {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 2s ease-in-out;
}


.hover-dark:hover video {
	opacity: 0.2;
}

.hover-dark:hover .label {
	opacity: .7;
}
